*.cbp
*.depends
*.plist
/*_autogen/
/.cache/
/.clang-format
/.cproject
/.project
/.qt
/CMakeCache.txt
/CMakeFiles
/CTestCustom.cmake
/Doxyfile
/Doxyfile.log
/Makefile
/Testing/
/cmake_install.cmake
/compile.pl
/compile_commands.json
/config.h
/doc/
/env.sh
/firstaid
/firstaid_automoc.cpp
/install_manifest.txt
/linkChecker
/moc_*
/qrc_*
/rulechecker.dax
/rulechecker.h
/rulechecker.includes
