moc_*
*.depends
qrc_*
config.h
env.sh
CMakeCache.txt
CMakeFiles
CTestCustom.cmake
Makefile
cmake_install.cmake
compile_commands.json
firstaid
firstaid_automoc.cpp
install_manifest.txt
.clang-format
*.plist
Doxyfile
Doxyfile.log
doc/
