/*_autogen/
*.cbp
/.clang-format
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/compile_commands.json
/compile.pl
/config.h
/.cproject
/CTestCustom.cmake
*.depends
/doc/
/Doxyfile
/Doxyfile.log
/env.sh
/firstaid
/firstaid_automoc.cpp
/install_manifest.txt
/linkChecker
/Makefile
/moc_*
*.plist
/.project
/qrc_*
/rulechecker.dax
/rulechecker.h
/rulechecker.includes
/Testing/
